@tailwind base;
@tailwind components;
@tailwind utilities;

/* add fade-in animation to tooltips */
@keyframes tooltip-fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.tooltip-animate-fade-in {
  animation: tooltip-fade-in 0.2s ease-out forwards;
}

/* add fade-in animation to main page title */
@keyframes title-fade-in {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title-animate-fade-in {
  animation: title-fade-in 1s ease-out forwards;
}

/*!* width *!*/
/*::-webkit-scrollbar {*/
/*  width: 10px;*/
/*}*/

/*!* Track *!*/
/*::-webkit-scrollbar-track {*/
/*  background: #f1f1f1;*/
/*}*/

/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*  background: #888;*/
/*  border-radius: 5px;*/
/*}*/

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*  background: #555;*/
/*}*/

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link-icon {
  @apply pr-1 lg:-ml-6;
  @apply -ml-4;
  opacity: 0;
}

.content-header:hover .content-header-link-icon,
.content-header-link-icon:hover {
  opacity: 1;
}

.linkicon {
  @apply size-3 lg:size-5;
  display: inline-block;
  vertical-align: middle;
}

article {
  font-family: 'LXGW WenKai';
  font-weight: 'normal';
}
